.toggle-menu {
	font-size: 1.5rem;
	color: var(--clr-secondary);
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	display: flex;
	margin: 0.5rem 3em 0 1em;

	&:focus {
		outline: none;
	}
}
