.select-product {
	height: 15em;
	width: 15em;
	background-color: var(--clr-background);
	position: absolute;
	bottom: 40px;
	left: 2em;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	opacity: 0.92;
}

.product-size {
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding: 0 0 1em 0;
}

.product-quantity {
	margin: 1em;
}

.cost {
	margin: 0 0 0.8em 0;
}

.add-to-cart-btn {
	border: solid 0.5px var(--clr-primary);
	color: black;
	font-weight: 700;
	padding: 0.5em;
	background-color: transparent;
	position: absolute;
	bottom: 2px;
	width: 100%;
}

.close-btn {
	position: absolute;
	right: 5px;
	top: 5px;
}
