.drop-menu {
	background-color: white;
	color: black;
	height: 3rem;
	display: flex;
	align-items: center;
	margin: 1rem 0;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	position: relative;

	h4 {
		font-weight: 400;
		margin: 0 2rem 0 1rem;
	}
}

.drop-btn {
	font-size: 1rem;
	position: absolute;
	right: 1%;
	top: 20%;
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	color: var(--clr-secondary);
	margin-right: 1.5rem;
	transition: all 0.3s ease;
}

.arrow-icon {
	height: 1em;
}
