.add-remove-product {
	margin: auto 1em;
	width: 2em;
}

.remove-product,
.add-product {
	border-style: none;
	background-color: transparent;
	margin: 0 0.5em;

	&:focus {
		outline: none;
	}
}

.minus-icon,
.plus-icon {
	height: 0.9em;
	margin: 0;
}
